parameters:
    level: 5
    paths:
        - src
        - tests
    scanDirectories:
        - vendor
    bootstrapFiles:
        - vendor/autoload.php
    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)#'
